.action {
    min-height: 100vh;
    /* background: url(img/bgr.jpg) center / cover;*/
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: absolute;
    margin-top: 300px;
}

main.action-table {
    width: 82vw;
    height: 90vh;
    background-color: #fff5;
    backdrop-filter: blur(7px);
    box-shadow: 0 0.4rem 0.8rem #0005;
    border-radius: 0.8rem;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    top: 2%;
    left: 9%;
    transform: translate(-2%, -2%);
    z-index: 0;
}

.container-fluid {
    position: relative;
    margin: 0 auto;
    /*right: 40px;
    top: -10px;*/
    width: 100%;
    height: 10%;
    padding: 1.8rem 1rem;
    justify-content: space-between;
    align-items: center;
    max-height: calc(89% - 1.6rem);
    background-color: #fffb;
    margin: 0.8rem auto;
    border-radius: 0.6rem;

    overflow: auto;
    overflow: overlay;
}

/*
.container-fluid {
    position: relative;
    margin: 0 auto;
    width: 100%;
    max-width: 600px;
    height: 10%;
    padding: 0.8rem 1rem;
    justify-content: space-between;
    align-items: center;
    background-color: #fffb;
    border-radius: 0.6rem;
    overflow: auto;
    overflow: overlay;
}*/

.divider:after,
.divider:before {
    content: "";
    flex: 1;
    height: 1px;
    background: #eee;
}

.h-custom {
    height: calc(100% - 73px);
}

@media (max-width: 450px) {
    .h-custom {
        height: 100%;
    }
}