@import url('https://fonts.googleapis.com/css2?family=Convergence&display=swap');


h2 {
    position: relative;
    font-size: 4em;
    color: #563e8b34;
    font-family: 'Convergence',
        sans-serif;
    padding: 10px;
}

/* h2::before {
    content: attr(data-text);
    position: absolute;
    color: #563E8B;
    width: 100px;
    overflow: hidden;
    white-space: nowrap;
    border-radius: 4p solid #563E8B;
    animation: animate 8s linear infinite;
    filter: drop-shadow(0 0 20px #563E8B) drop-shadow(0 0 50px #563E8B);

} 
 @keyframes animate {

    0%,
    10%,
    100% {
        width: 0;
    }

    70%,
    90% {
        width: 100%;
    }
}

*,
*::before *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
} */

body {

    height: 100vh;
    /*  font-family: 'Convergence',
        sans-serif;
     display: grid;
    place-items: center;
     border: 2px solid #060b23;*/
    font-size: 1.2rem;
}

.form {
    position: relative;
    width: 20rem;
    height: 3rem;
    margin: 30px;
}

.form_input {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 2px solid #e1e5ee;
    border-radius: 0.5rem;
    font-family: inherit;
    font-size: inherit;
    color: #000000;
    outline: none;
    padding: 1.25rem;
    background: none;
    transition: all 160ms ease-in;
}

.form_input:hover {
    border-color: #563E8B;
}

.form_input:focus {
    border-color: #000000fd;
}

.form_label {
    position: absolute;
    left: 1rem;
    top: 0.8rem;
    padding: 0 0.5rem;
    color: #777474;
    cursor: text;
    transition: top 250ms ease-in, left 250ms ease-in font-size 250ms ease-in;
    background-color: #fff;
}

.form_input:focus~.form_label,
.form_input:not(:placeholder-shown).form_input:not(:focus)~.form_label {
    top: -0.5rem;
    font-size: 0.8rem;
    left: 0.8rem;
}

.form-popup {
    display: none;
    position: fixed;
    top: 10px;
    right: 15px;
    border: 3px solid #f1f1f1;
    z-index: 9;
    border-radius: 20px;
}

/* Add styles to the form container */
.form-container {
    max-width: 400px;
    padding: 10px;
    background-color: #fff;
    border-radius: 20px;
}


/* Set a style for the submit/login button */
.form-container .btn {
    background-color: #563E8B;
    color: white;
    padding: 16px 20px;
    border: none;
    cursor: pointer;
    width: 100%;
    margin-bottom: 10px;
    opacity: 0.8;
    font-size: 1em;
    font-weight: bold;
    border: none;
    transition: .4s ease-in;
    border-radius: 10px;
}

.form-container .btn:hover {
    background-color: #563E8B;
    box-shadow: 0px 0px 5px #563E8B, 0px 0px 25px #563E8B, 0px 0px 50px #563E8B
        /*, 0px 0px 200px yellow*/
    ;

}

/* Add a red background color to the cancel button */
.form-container .cancel {
    color: #000000;
    background: #ffffff;
    font-size: 20px;
    font-weight: 400;
    line-height: 4px;
    height: 20px;
    width: 20px;
    border-radius: 0;
    opacity: 1;
    position: absolute;
    left: auto;
    right: 8px;
    top: 20px;
    z-index: 1;
}