* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    font-family: arial;
}

body {
    flex-direction: column;
    justify-content: center;
    transition: background 0.2s linear;
    line-height: 150%;
}

html,
body {
    height: 100%;
}

.navbar {
    position: sticky;
    top: 0;
    z-index: 999;
}

.headerOfPage {
    background-image: url(../img/002.jpg);
    background-size: cover;
    background-position: center;
    min-height: 100vh;
    width: 100%;
    background-attachment: fixed;
    z-index: -1;
    position: relative;
    margin-top: -63px;
}

#particles-js {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}

span.first {
    visibility: hidden;
    padding: 10px;
    color: white;
    width: 200px;
    display: inline-block;
    position: absolute;
    margin: 0 0 0 20px;
    padding: 8px 15px;
    font-size: 15px;
    color: white;
    background-color: rgba(34, 34, 34, 0.9);
    border-radius: 4px;
    box-shadow: 0 0 10px rgba(34, 34, 34, 0.2);
    clear: both;
    transform: translateX(0px);
    transition: transform 200ms ease;

}

.nav-link:hover span.first {
    visibility: visible;
}

/* Style the footer */

.footer {
    position: relative;
    z-index: 2;
    background-color: #f1f1f1;
    padding: 10px;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
}

.welcome-message {
    position: absolute;
    color: white;
    font-size: 30px;
}