body.dark {
    background-color: #0e0e10;
    color: #f8f9fa;
}

body.dark .subtitle,
body.dark .title {
    color: #f8f9fa;
}

.title {
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 10;
    color: #fff;
}

.subtitle {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 10;
    color: #fff;
}

.section_mode {
    top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    text-align: center;
    z-index: 1;
    padding-top: 100px;
}

.checkbox {
    opacity: 0;
    position: absolute;
    top: 10px;
    right: 20px;
}

.checkbox:checked+.label .ball {
    transform: translateX(20px);
}

.label {
    background-color: #0e0e10;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 50px;
    position: relative;
    padding: 5px;
    height: 20px;
    width: 40px;
    transform: scale(1.5);
    position: absolute;
    top: 25px;
    right: 20px;
    z-index: 1;
}

.ball {
    background-color: #f8f9fa;
    border-radius: 50%;
    position: absolute;
    top: 2px;
    left: 2px;
    height: 16px;
    width: 16px;
    transition: transform 0.2s linear;
}

.fa-moon {
    color: #f1c40f;
}

.fa-sun {
    color: #f39c12;
}

.fa-sun,
.fa-moon {
    font-size: 12.5px;
}